.contact {
    margin-top: 55px;
}

.socile-link {
    width: 50%;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
    background-color: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #ffffff;
}

.contact_info {
    padding: 40px;
    margin-bottom: 10px;
}

.contact_info h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    color: #000000bb;
}

.contact_info h4 span {
    font-size: 16px;
    font-weight: 500;
    color: #0000009e;
}

.contact_icon {
    color: #eb4c4c;
    font-size: 25px;
}

.socile_icon {
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
}

.socile-btn {
    font-size: 30px;
}

.contact-from {
    width: 50%;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
    background-color: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #ffffff;
}

.input-fild {
    width: 95%;
    border: none;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

@media (max-width:992px) {
    .contact .f_flex {
        flex-direction: column;
    }

    .socile-link {
        width: 100%;
    }

    .contact-from {
        width: 100%;
    }
}

@media (max-width:688px) {
    .contact .f_flex {
        flex-direction: column;
    }

    .socile-link {
        width: 100%;
        margin-left: 0%;
    }

    .socile_icon {
        padding-left: 5px;
    }

    .socile-btn {
        margin-left: 5px;
    }

    .contact-from {
        width: 100%;
        margin-left: 0%;
    }
}