@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ecf0f3;
}

.conteiner {
  max-width: 90%;
  margin: auto;
}

.d_flex {
  display: flex;
  justify-content: space-between;
}

.f_flex {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

button {
  border: none;
  outline: none;
  background-color: none;
}

.btn_shadow {
  padding: 18px 25px;
  border-radius: 6px;
  transition: .5s all ease;
  cursor: pointer;
  color: #000;
}

.btn_shadow {
  background-color: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #ffffff;
}

.btn_shadow:hover {
  background-color: #eb4c4c;
  color: white;
  transform: translateY(-10px);
}

.section_title {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  color: #eb4c4c;
  margin-bottom: 70px;
}

@media (max-width:768px) {
  .conteiner_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .left,
  .right {
    width: 100%;
  }
}